.header {
  display: flex;
}
.homeContainer {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 80vh;
  background-color: #c8d5b9;
}
.marketItemContainer {
  width: 260px;
  height: 290px;
  background-color: #f0efe8;
  border-radius: 20px;
  padding: 10px;
}
.marketData {
  text-align: "left";
  font-family: "Kumbh Sans";
  font-size: "25px";
  margin-left: 35px;
}
.market {
  margin: auto;
  width: 80%;
}
.marketMapContainer {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.marketItem {
  color: #6b9080;
  font-weight: 800;
}
.map-container {
  margin: auto;
  width: 80%;
  display: flex;
}
.leftHalfMap {
  display: flex;
  flex-direction: column;
}
.rightHalfMap {
  margin-left: -30px;
}
